._1leau172 {
    padding: 0 clamp(16px, 6.25vw - 48px, 32px);
}
._1leau170 {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
._9x1lao0, ._9x1lao1 {
    display: flex;
}
._9x1lao0 {
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

._9x1lao2 {
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    line-height: 1.45;
    font-weight: var(--tw-font-weight-medium);
    color: var(--wts-adaptive-grey600);
    white-space: nowrap;
}
._9x1lao5 {
    padding: 6px 12px;
}
._9x1lao5:hover {
    background-color: transparent !important; /* 배경 박스 제거 */
    color: var(--wts-adaptive-grey900) !important; /* 밝은 흰색으로 변경 */
}
.u09klc0 {
    background-color: var(--wts-adaptive-greyOpacity100);
    border: 1px solid var(--wts-adaptive-greyOpacity100);
    border-radius: 8px;
    height: 32px;
    width: 200px;
    margin-left: auto;
}
._1pqi7zp5, .u09klc0 {
    display: flex;
    align-items: center;
}
.u09klc1 {
    margin: 0 10px;
}
.u09klc2, .u09klc3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.u09klc3 {
    background-color: var(--wts-adaptive-greyOpacity100);
    border-radius: 5px;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    color: var(--wts-adaptive-greyOpacity800);
}
._1bfoojl5 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px;
}
._1gwjmki2 {
    width: 32px;
    height: 32px;
}
._1gwjmki0 {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.css-ry5kze {
    position: relative;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: top;
}
._1gwjmkib {
    border-radius: 8px;
}
._1gwjmkia {
    border: none;
    box-shadow: inset 0 0 0 1px var(--wts-adaptive-greyOpacity100);
}
.css-1vqadhc {
    position: relative;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    vertical-align: top;
}
.css-zl34r3 {
    width: 100%;
    height: 100%;
    transform: scale(var(--asset-scale));
}
.css-zl34r3, .css-zl34r3 img, .css-zl34r3 video {
    object-fit: var(--asset-object-fit);
}
