.ho2myi2 {
    width: 100%;
    flex: 1 1;
    isolation: isolate;
}
._2ozzgc8 {
    height: 100%;
}
._2ozzgc5, ._2ozzgc6, ._2ozzgc7, ._2ozzgc8 {
    display: flex;
    width: 100%;
}
._2ozzgcf {
    padding: 0 calc(clamp(16px, 6.25vw - 48px, 32px) + 8px);
    min-height: calc(100vh - 52px);
}
._2ozzgch {
    min-height: calc(100vh - 52px - var(--_2ozzgcg) px) !important;
}
._2ozzgca {
    flex: 1 1;
    min-width: 0;
}
._2x64iu3 {
    isolation: isolate;
}
._2x64iu1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.ia3qp40 {
    padding: 4px 0 8px;
}
._2x64iu0 {
    display: flex;
    gap: 8px;
    flex: 1 1;
    margin-bottom: 24px;
    min-height: 0; /* ← 이것만 추가 */
}