.ia3qp42 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
}
._8u2t3p0 {
    position: relative;
    flex: 1 1;
    min-width: 0;
    margin-left: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.njzdl36 {
    display: flex;
    align-self: center;
    gap: 6px;
}
.ia3qp41 {
    display: flex;
    align-items: center;
}